#dyrDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

img{
  width: 100%;
}
/*
#alleKnapp{
  background-color: skyblue;
}
#overunder{
  background-color: lightsalmon;
}
#kombi{
  background-color: lightpink;
}

button{
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;

}

button:hover{
  opacity: 70%;
}
*/
